<div id="<%= dom_id artist %>">
  <p>
    <strong>Name:</strong>
    <%= artist.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= artist.bio %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= artist.image_url %>
  </p>

  <p>
    <strong>Sites:</strong>
    <%= artist.sites %>
  </p>

</div>
